<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.backend.DAO.Account.IndividualUserMapper">
    <resultMap id="mapIndividualUser" type="com.example.backend.Entity.Account.IndividualUser">
        <id property="ID" column="ID"/>
        <result property="USER_NAME" column="USER_NAME"/>
        <result property="AVATOR" column="AVATOR"/>
        <result property="INTRODUCTION" column="INTRODUCTION" />
        <result property="STATUS" column="STATUS" />
    </resultMap>

    <resultMap id="mapActivity" type="com.example.backend.Entity.Activity.Activity">
        <id property="ID" column="aID"/>
        <id property="organizationID" column="oID"/>
        <result property="title" column="TITLE"/>
        <result property="img" column="IMG"/>
        <result property="organizerName" column="organization.USERNAME" />
        <result property="organizerIntro" column="oIN" />
        <result property="organizerStatus" column="organization.STATUS" />
        <result property="avator" column="organization.AVATOR" />
        <result property="date" column="DATE" />
        <result property="place" column="PLACE" />
        <result property="form" column="FORM" />
        <result property="activityIntroduction" column="aIN"/>
        <result property="content" column="CONTENT" />
        <result property="genres" column="GENRES" />
        <result property="likeNum" column="LIKENUM" />
        <result property="capacity" column="CAPACITY" />
        <result property="status" column="activity.STATUS" />
        <result property="subscriberNum" column="SUBSCRIBER_NUM" />
    </resultMap>
    <select id="getByUserEmailAndPassword" resultType="com.example.backend.Entity.Account.IndividualUser">
        SELECT ID,USER_NAME,AVATOR,INTRODUCTION,STATUS
        FROM individual_user
        WHERE ID=#{ID}
        AND AES_DECRYPT(PASSWORD, 'key')=#{password}
    </select>

    <select id="getByEmail" resultType="com.example.backend.Entity.Account.IndividualUser">
        SELECT ID,USER_NAME,AVATOR,INTRODUCTION,STATUS
        FROM individual_user
        WHERE ID=#{ID}
    </select>

    <insert id="insertUser">
        insert into individual_user (ID, USER_NAME, PASSWORD,STATUS)
        values (#{ID},#{userName},AES_ENCRYPT(#{password},'key'),#{status});
    </insert>

    <update id="editInformation">
        update individual_user
        set USER_NAME=#{name},PASSWORD=#{password},INTRODUCTION=#{introduction},AVATOR=#{avator}
        where ID=#{email};
    </update>

    <select id="getMyQuestions" resultType="com.example.backend.Entity.Discuss.Question">
        select *
        from question
        where INDIVIDUAL_USER_ID=#{ID};
    </select>

<!--    private String individualUserID;-->
<!--    private String USER_NAME;-->
<!--    private String INTRODUCTION;-->
<!--    private String AVATOR;-->
<!--    private int question_ID;-->
<!--    private String title;-->
<!--    private String content;-->
    <select id="getMyFocusQuestions" resultType="com.example.backend.Entity.Discuss.QuestionHelper">
        select question.INDIVIDUAL_USER_ID,individual_user.USER_NAME,individual_user.INTRODUCTION,individual_user.AVATOR,question.ID,question.TITLE,question.CONTENT
        from focus_question,question,individual_user
        where focus_question.INDIVIDUAL_USER_ID=#{ID}
        and individual_user.ID=question.INDIVIDUAL_USER_ID
        and focus_question.QUESTION_ID=question.ID;
    </select>

    <select id="getMySignUpActivities" resultMap="mapActivity">
        select activity.ID as aID,TITLE,IMG,organization.ID as oID,organization.USERNAME,organization.INTRODUCTION as oIN,organization.AVATOR,organization.STATUS,DATE,PLACE,FORM,activity.INTRODUCTION as aIN,CONTENT,GENRES,LIKENUM,CAPACITY,activity.STATUS,activity.SUBSCRIBER_NUM
        from sign_up_form,activity,organization
        where sign_up_form.INDIVIDUAL_USER_ID=#{ID}
        and sign_up_form.ACTIVITY_ID=activity.ID
        and organization.ID=activity.ORGANIZATION_ID
    </select>

    <insert id="reportUser">
        insert into report(WHISTLE_BLOWER_ID,REPORTED_ID,REASON,QUESTION_ID,ANSWER_ID)
        values (#{wID},#{rID},#{reason},#{qID},#{aID})

    </insert>

    <update id="encode">
        update individual_user
        set PASSWORD=   AES_ENCRYPT('12345678','key')
    </update>

    <update id="editPassword">
        update individual_user
        set PASSWORD= AES_ENCRYPT(#{password},'key')
        where ID=#{ID}
    </update>



</mapper>