<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.backend.DAO.Account.IndividualUserMapper">
    <select id="getByUserEmailAndPassword" resultType="com.example.backend.Entity.Account.IndividualUser">
        SELECT *
        FROM individual_user
        WHERE ID=#{ID}
          AND PASSWORD=#{password}
    </select>

    <select id="getByEmail" resultType="com.example.backend.Entity.Account.IndividualUser">
        SELECT *
        FROM individual_user
        WHERE ID=#{ID}
    </select>

    <insert id="insertUser">
        insert into individual_user (ID, USER_NAME, PASSWORD,STATUS)
        values (#{ID},#{userName},#{password},#{status});
    </insert>

    <update id="editInformation">
        update individual_user
        set USER_NAME=#{name},PASSWORD=#{password},INTRODUCTION=#{introduction},AVATOR=#{avator}
        where ID=#{email};
    </update>

    <select id="getMyQuestions" resultType="com.example.backend.Entity.Discuss.Question">
        select *
        from question
        where INDIVIDUAL_USER_ID=#{ID};
    </select>

    <select id="getMyFocusQuestions" resultType="com.example.backend.Entity.Discuss.Question">
        select question.ID,question.INDIVIDUAL_USER_ID,question.TITLE,question.CONTENT
        from focus_question,question
        where focus_question.INDIVIDUAL_USER_ID=#{ID}
        and focus_question.QUESTION_ID=question.ID;
    </select>

    <select id="getMySignUpActivities" resultType="com.example.backend.Entity.Activity.Activity">
        select activity.ID,TITLE,IMG,organization.ID,organization.USERNAME,organization.INTRODUCTION,organization.AVATOR,DATE,PLACE,FORM,activity.INTRODUCTION,CONTENT,GENRES,LIKENUM,CAPACITY,activity.STATUS,activity.SUBSCRIBER_NUM
        from sign_up_form,activity,organization
        where sign_up_form.INDIVIDUAL_USER_ID=#{ID}
        and sign_up_form.ACTIVITY_ID=activity.ID
        and organization.ID=activity.ORGANIZATION_ID
    </select>

    <insert id="reportUser">
        insert into report(WHISTLE_BLOWER_ID,REPORTED_ID,REASON)
        values (#{wID},#{rID},#{reason})

    </insert>
</mapper>