<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.backend.DAO.Account.IndividualUserMapper">
    <select id="getByUserEmailAndPassword" resultType="com.example.backend.Entity.Account.IndividualUser">
        SELECT *
        FROM user
        WHERE USER_EMAIL=#{ID}
          AND PASSWORD=#{password}
    </select>

    <select id="getByEmail" resultType="com.example.backend.Entity.Account.IndividualUser">
        SELECT *
        FROM user
        WHERE USER_EMAIL=#{ID}
    </select>

    <insert id="insertUser">
        insert into user (ID, USER_NAME, PASSWORD)
        values (#{ID},#{userName},#{password});
    </insert>

</mapper>