<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--        private int ID;-->
<!--        private String title;-->
<!--        private String img;-->
<!--        private int organizationID;-->
<!--        private String organizerName;-->
<!--        private String organizerIntro;-->
<!--        private String organizerAvator;-->
<!--        private int organizerStatus;-->
<!--        private String avator;-->
<!--        private String date;-->
<!--        private String place;-->
<!--        private String form;-->
<!--        private String introduction;-->
<!--        private String content;-->
<!--        private String genres;-->
<!--        private int likeNum;-->
<!--        private int capacity;-->
<!--        private int status;-->
<!--        private int subscriberNum;-->
<mapper namespace="com.example.backend.DAO.Activity.ActivityMapper">
    <resultMap id="mapActivity" type="com.example.backend.Entity.Activity.Activity">
        <id property="ID" column="aID"/>
        <id property="organizationID" column="oID"/>
        <result property="title" column="TITLE"/>
        <result property="img" column="IMG"/>
        <result property="organizerName" column="organization.USERNAME" />
        <result property="organizerIntro" column="oIN" />
        <result property="organizerStatus" column="organization.STATUS" />
        <result property="avator" column="organization.AVATOR" />
        <result property="date" column="DATE" />
        <result property="place" column="PLACE" />
        <result property="form" column="FORM" />
        <result property="activityIntroduction" column="aIN"/>
        <result property="content" column="CONTENT" />
        <result property="genres" column="GENRES" />
        <result property="likeNum" column="LIKENUM" />
        <result property="capacity" column="CAPACITY" />
        <result property="status" column="activity.STATUS" />
        <result property="subscriberNum" column="SUBSCRIBER_NUM" />
    </resultMap>

    <select id="getAllActivities" resultMap="mapActivity">
        select activity.ID as aID,TITLE,IMG,organization.ID as oID,organization.USERNAME,organization.INTRODUCTION as oIN,organization.AVATOR,organization.STATUS,DATE,PLACE,FORM,activity.INTRODUCTION as aIN,CONTENT,GENRES,LIKENUM,CAPACITY,activity.STATUS,activity.SUBSCRIBER_NUM
        from activity,organization
        where activity.ORGANIZATION_ID=organization.ID;
    </select>

    <select id="getReviewsByActivity" resultType="com.example.backend.Entity.Activity.ReviewActivity">
        select review_activity.INDIVIDUAL_USER_ID,review_activity.ACTIVITY_ID,review_activity.CONTENT,review_activity.SCORE,individual_user.USER_NAME,individual_user.INTRODUCTION,individual_user.AVATOR
        from review_activity,individual_user
        where review_activity.ACTIVITY_ID=#{ID}
        and review_activity.INDIVIDUAL_USER_ID=individual_user.ID;
    </select>

    <insert id="publishActivity">
        insert into activity(TITLE,IMG,ORGANIZATION_ID,DATE,PLACE,FORM,INTRODUCTION,CONTENT,GENRES,LIKENUM,CAPACITY,STATUS,SUBSCRIBER_NUM)
        values(#{title},#{img},#{organizationID},#{date},#{place},#{form},#{introduction},#{content},#{genres},#{likeNum},#{capacity},#{status},#{subscriberNum})
    </insert>

    <update id="updateActivity">
        update activity
        set TITLE=#{title},IMG=#{img},ORGANIZATION_ID=#{organizationID},DATE=#{date},PLACE=#{place},FORM=#{form},INTRODUCTION=#{introduction},CONTENT=#{content},GENRES=#{genres},CAPACITY=#{capacity},STATUS=#{status}
        where ID=#{ID};
    </update>

    <insert id="likeActivity">
        insert into like_activity(INDIVIDUAL_USER_ID,ACTIVITY_ID)
        values (#{individualUserID},#{activityID})
    </insert>

    <select id="getLikeNum" resultMap="mapActivity">
        select activity.ID as aID,TITLE,IMG,organization.ID as oID,organization.USERNAME,organization.INTRODUCTION as oIN,organization.AVATOR,organization.STATUS,DATE,PLACE,FORM,activity.INTRODUCTION as aIN,CONTENT,GENRES,LIKENUM,CAPACITY,activity.STATUS,activity.SUBSCRIBER_NUM
        from activity,organization
        where activity.ID=#{activityID}
        and organization.ID=activity.ORGANIZATION_ID;
    </select>

    <update id="addLikeNum">
        update activity
        set LIKENUM=#{likeNum}
        where ID=#{activityID}
    </update>

    <delete id="unlike">
        delete from like_activity
        where INDIVIDUAL_USER_ID=#{individualUserID}
        and ACTIVITY_ID=#{activityID};
    </delete>

    <insert id="review">
        insert into review_activity(INDIVIDUAL_USER_ID,ACTIVITY_ID,CONTENT,SCORE)
        values (#{individualUserID},#{activityID},#{content},#{score})
    </insert>

    <select id="checkSignUpSitua" resultType="Integer">
        select count(*)
        from sign_up_form
        where INDIVIDUAL_USER_ID=#{individualUserID}
        and ACTIVITY_ID=#{activityID};
    </select>

    <insert id="signUpActivity">
        insert into sign_up_form(INDIVIDUAL_USER_ID,ACTIVITY_ID)
        values (#{individualUserID},#{activityID})
    </insert>

    <delete id="cancleSignUp">
        delete from sign_up_form
        where INDIVIDUAL_USER_ID=#{individualUserID}
        and ACTIVITY_ID=#{activityID};
    </delete>

    <select id="getNotSignUpActivity" resultMap="mapActivity">
        select activity.ID as aID,TITLE,IMG,organization.ID as oID,organization.USERNAME,organization.INTRODUCTION as oIN,organization.AVATOR,organization.STATUS,DATE,PLACE,FORM,activity.INTRODUCTION as aIN,CONTENT,GENRES,LIKENUM,CAPACITY,activity.STATUS,activity.SUBSCRIBER_NUM
        from activity,organization
        where activity.ID not in (select ACTIVITY_ID
                        from sign_up_form
                        where INDIVIDUAL_USER_ID=#{ID})
        and activity.ORGANIZATION_ID=organization.ID;
    </select>

    <select id="getAllPlaces" resultType="String">
        select PLACE
        from activity
    </select>

    <select id="getAllOrgs" resultType="String">
        select USERNAME
        from organization
    </select>

    <select id="getOrgByActivity" resultType="String">
        select organization.USERNAME
        from activity,organization
        where activity.ID=#{ID}
        and activity.ORGANIZATION_ID=organization.ID;
    </select>

    <update id="addSubscribNum">
        update activity
        set SUBSCRIBER_NUM=#{subNum}
        where ID=#{activityID}
    </update>

    <select id="checkLike" resultType="Integer">
        select count(*)
        from like_activity
        where INDIVIDUAL_USER_ID=#{individualUserID}
        and ACTIVITY_ID=#{activityID};
    </select>

    <update id="editStatus">
        update activity
        set STATUS = #{toStatus}
        where ID=#{activityID};
    </update>

    <update id="addAnalysis">
        update activity
        set EMO_ANALYSIS=#{path}
        where ID=#{ID};
    </update>

    <update id="addCloud">
        update activity
        set CLOUD=#{path}
        where ID=#{ID};
    </update>

    <delete id="deleteActivity">
        delete
        from activity
        where ID=#{ID};
    </delete>

    <select id="getIMGofActivity" resultType="com.example.backend.Entity.Activity.EmotionAnalysis">
        select EMO_ANALYSIS,CLOUD
        from activity
        where ID=#{ID};
    </select>

    <select id="getUserSubscribed" resultType="com.example.backend.Entity.Account.IndividualUser">
        select individual_user.ID,individual_user.USER_NAME,individual_user.INTRODUCTION,individual_user.AVATOR,individual_user.STATUS
        from sign_up_form,individual_user
        where sign_up_form.ACTIVITY_ID=#{ID}
        and sign_up_form.INDIVIDUAL_USER_ID=individual_user.ID;
    </select>

</mapper>